
.container-auth{
    width: 420px;
    margin:auto;
    display:flex;
}
.container-auth input {
    width:400px;
    height:40px;
    font-size: 1.25rem;
    margin: 20px 0px;
}
.action-container{
    display:flex;
    justify-content: flex-end;
    margin:10px 0px;
}
.btn{
    color: #ffffff;
    font-size: 1.125rem;
    width: 170px;
    height: 40px;
    cursor:pointer;
}
.primary-btn{
    background: #14a800;
    border: 1px solid #138303; 
}
.secondary-btn{
    background: #808080;
    border: 1px solid #616161; 
}
.btn-w-auto{
    width:100%;
}
.btn-container{
    display:flex;
    justify-content: space-between;
}
.btn-container .btn{
    font-size:.9rem;
    margin:30px 0;
}
.wrap{
    margin:10px;
}
.space{
    margin:0 10px;
}

.primary-btn:disabled {
    background: #D3D3D3;
    border: 1px solid #616161; 
}

.error-message{
    color:red;
}

